{% extends 'Layout.twig' %}
{% block content %}
	<div class="form">
		<form method="POST" action="/Locations/save">
			<input type="hidden" name="id" value="{{ id | e }}">
			<div class="label">Наименование: 	
				<input type="text" name="name" value="{{ name | e }}">
			</div>
			<div class="label">Идентификатор: 	
				<input type="text" name="UUID" value="{{ UUID | e }}">
			</div>
			<div class="label">Тип места хранения: 	
			<select name="idLocationType">
			{% for type in types %}
				<option selected value="{{ type.id }}">{{ type.name }}</option>
			{% endfor %}
			</select>
			</div>
			<div class="label">Родитель: 	
			<select name="idParent">
			{% for location in locations %}
				<option selected value="{{ location.id }}">{{ location.path }}</option>
			{% endfor %}
			</select>
			</div>
			<div class="button_container">
				<button type="submit">Сохранить</button>
				<button type="reset" onclick="location.href='/Locations'">Отменить</button>
			</div>
		</form>
	</div>
{% endblock %}