{% extends 'Layout.twig' %}
{% block content %}
	<form method="POST" action="/Locations/save">
		<input type="text" name="id" value="{{ id | e }}">		
		<input type="text" name="name" value="{{ name | e }}">
		
		<input type="hidden" name="id" value="{{ UUID | e }}">
		<select name="idLocationType">
		{% for type in types %}
			<option selected value="{{ type.id }}">{{ type.name }}</option>
		{% endfor %}
		</select>
		<select name="idParent">
		{% for location in locations %}
			<option selected value="{{ location.id }}">{{ location.path }}</option>
		{% endfor %}
		</select>
		<button type="submit">Submit</button>
	</form>
{% endblock %}