{% extends 'Layout.twig' %}
{% block content %}
	<div class="form">
		<form method="POST" action="/Movements/save">
			<div class="label">Номер: 	
				<input type="text" name="id" value="{{ id | e }}" disabled="">
			</div>

			<div class="label">Дата: 	
				<input type="date" name="date" value="{{ date | e }}">
			</div>
			
			<div class="label">Товар: 	
			<select name="idProduct">
			{% for product in products %}
				<option selected value="{{ product.id }}">{{ product.name }}</option>
			{% endfor %}
			</select>
			</div>

			<div class="label">Откуда: 	
			<select name="idLocationFrom">
			{% for location in locations %}
				<option selected value="{{ location.id }}">{{ location.path }}</option>
			{% endfor %}
			</select>
			</div>

			<div class="label">Куда: 	
			<select name="idLocationTo">
			{% for location in locations %}
				<option selected value="{{ location.id }}">{{ location.path }}</option>
			{% endfor %}
			</select>
			</div>

			<div class="label">Количество: 	
				<input type="text" name="quantity" value="{{ quantity | e }}">
			</div>
			
			
			<div class="button_container">
				<button type="submit">Сохранить</button>
				<button type="reset" onclick="location.href='/Movements'">Отменить</button>
			</div>
		</form>
	</div>
{% endblock %}